*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
    /* -webkit-tap-highlight-color: transparent; */
}

html, body {
	/* user-select: none; */
	/* -webkit-user-select: none;
    -webkit-touch-callout: none; */
	/* -webkit-tap-highlight-color: transparent; */
	font-family: "SangBleuSans-Regular";
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -0.02em;
	/* margin: 0; */
	/* overflow: hidden;  */
	/* background: #fff; */
}
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-color: black;
    padding: 20px;
}

form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    padding: 20px 30px;
}

h1{
    color: #fe5000;
    text-align: center;
    margin-bottom: 20px;
  }
  
  button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: #fe5000;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }